/* line 16, ../sass/project.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 55, ../sass/project.scss */
#color-block {
  background-color: #6CD4FF;
  left: 0;
  top: 0;
  height: 100vh;
  width: 15px;
  position: fixed;
}

/* line 70, ../sass/project.scss */
#nav {
  background-color: white;
}
/* line 72, ../sass/project.scss */
#nav .navbar-brand {
  font-family: "Slabo 13px", serif;
}
/* line 75, ../sass/project.scss */
#nav #about-nav:hover {
  background-color: #87D68D;
}
/* line 77, ../sass/project.scss */
#nav #about-nav:hover a {
  color: white;
}
/* line 81, ../sass/project.scss */
#nav #experience-nav:hover {
  background-color: #8A4F7D;
}
/* line 83, ../sass/project.scss */
#nav #experience-nav:hover a {
  color: white;
}
/* line 87, ../sass/project.scss */
#nav #education-nav:hover {
  background-color: #7BAFD4;
}
/* line 89, ../sass/project.scss */
#nav #education-nav:hover a {
  color: white;
}
/* line 93, ../sass/project.scss */
#nav #skills-nav:hover {
  background-color: #F03a47;
}
/* line 95, ../sass/project.scss */
#nav #skills-nav:hover a {
  color: white;
}
/* line 99, ../sass/project.scss */
#nav #contact-nav:hover {
  background-color: #05A8AA;
}
/* line 101, ../sass/project.scss */
#nav #contact-nav:hover a {
  color: white;
}
/* line 106, ../sass/project.scss */
#nav .navbar-right .fa {
  font-size: 1em;
}

/* line 113, ../sass/project.scss */
#body-content div {
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
}
/* line 116, ../sass/project.scss */
#body-content div h1 {
  text-align: center;
  font-family: "Slabo 13px", serif;
}
/* line 120, ../sass/project.scss */
#body-content div p.body {
  font-size: .6em;
}
/* line 123, ../sass/project.scss */
#body-content div#about {
  border-bottom: 4px solid #87D68D;
}
/* line 126, ../sass/project.scss */
#body-content div #headshot {
  max-height: 6em;
  border: 8px solid #87D68D;
}
