/* line 14, ../sass/project.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 18, ../sass/project.scss */
header {
  padding: .5em 2em;
  position: fixed;
  width: 100%;
}
/* line 22, ../sass/project.scss */
header #title, header #nav-right {
  position: fixed;
  top: 1em;
  font-size: 1.8em;
}
/* line 27, ../sass/project.scss */
header #title {
  font-family: "Slabo 13px", serif;
}
/* line 30, ../sass/project.scss */
header #nav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 0;
  padding: 0 .25em;
}
/* line 36, ../sass/project.scss */
header #nav-right li {
  float: left;
  padding: 0 .25em;
}
/* line 39, ../sass/project.scss */
header #nav-right li a {
  color: #8491A3;
}
/* line 41, ../sass/project.scss */
header #nav-right li a:hover {
  color: #373F51;
}

/* line 49, ../sass/project.scss */
#color-block {
  background-color: #6CD4FF;
  left: 0;
  top: 0;
  height: 100vh;
  width: 15px;
  position: fixed;
}

/* line 58, ../sass/project.scss */
#sidebar {
  padding: 5em 2em;
  width: 20%;
  height: 100%;
}

/* line 64, ../sass/project.scss */
#body-content {
  width: 80%;
  margin: auto;
  margin-top: 8em;
}
/* line 68, ../sass/project.scss */
#body-content div {
  text-align: center;
  margin-top: 300px;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
}
