//  Colors
$grey: #e7e7e7;
$blue: #6CD4FF;
$charcoal: #373F51;

$green: #87D68D; // About
$berry: #8A4F7D; // Experience
$carolina: #7BAFD4; // Education
$salsa: #F03a47; // Skills
$topaz: #FFD275; // Contact

// Fonts
$slab: 'Slabo 13px', serif;
$sans: 'Source Sans Pro', sans-serif;
$mono: 'Inconsolata', monospace;

.mono {
  font-family: $mono;
  font-size: 1em;
}

body {
  font-family: $sans;
}

#color-block {
  background-color: $blue;
  left: 0;
  top: 0;
  height: 100vh;
  width: 15px;
  position: fixed;
}

#nav {
  background-color: white;
  text-align: center;
  .navbar-brand {
    font-family: "Slabo 13px", serif;
    font-weight: 700;
    font-size: 1.5em;
    color: $charcoal;
  }
  #about-nav:hover {
    background-color: $green;
  }
  #experience-nav:hover {
    background-color: $berry;
  }
  #education-nav:hover {
    background-color: $carolina;
  }
  #skills-nav:hover {
    background-color: $salsa;
  }
  #contact-nav:hover {
    background-color: $topaz;
  }
  .nav-link {
    .link-icon {
      display: none;
      font-size: 1.2em;
      margin-top: -20px;
    }
    &:hover a {
      .link-icon {
        display: block;
        color: white;
      }
      .link-text {
        visibility: hidden;
      }
    }
  }
  .navbar-right {
    @media only screen and (max-width : 778px) {
      display: none;
    }
    @media only screen and (min-width : 778px) {
      margin-right: 1em;
    }
    .fa {
      font-size: 1.2em;
    }
  }
}

#body {
  #body-content {
    div.row {
      font-size: 1.5em;
      font-family: $sans;
      padding: 2em;
      h1 {
        text-align: center;
        font-family: $slab;
      }
      p.body {
        font-size: 12pt;
      }
      &#about {
        padding-top: 4em;
        border-left: 12pt solid $green;
      }
      &#experience {
        border-left: 12pt solid $berry;
      }
      &#education {
        border-left: 12pt solid $carolina;
      }
      &#skills {
        border-left: 12pt solid $salsa;
        ul {
          list-style-type: none;
          padding: 0;
          &.mono li {
            font-size: 12pt;
          }
        }
      }
      &#contact {
        border-left: 12pt solid $topaz;
      }
      #headshot {
        max-height: 6em;
        border: 6px solid $green;
      }
    }
  }
}

footer {
  bottom: 0;
  width: 100%;
  border-left: 12pt solid $topaz;
  div {
    padding: 2em;
    text-align: center;
  }
}
