//  Colors
$grey: #e7e7e7;
$blue: #6CD4FF;
$charcoal: #373F51;

$green: #87D68D; // About
$berry: #8A4F7D; // Experience
$carolina: #7BAFD4; // Education
$salsa: #F03a47; // Skills
$seafoam: #05A8AA; // Contact

// Fonts
$slab: 'Slabo 13px', serif;
$sans: 'Source Sans Pro', sans-serif;

body {
  font-family: $sans;
}

// header {
//   padding: .5em 2em;
//   position: fixed;
//   width: 100%;
//   #title, #nav-right {
//     position: fixed;
//     top: 1em;
//     font-size: 1.8em;
//   }
//   #title {
//     font-family: "Slabo 13px", serif;
//     text-align: center;
//     left: 50%;
//     width: 250px;
//     margin-left: -125px;
//   }
//   #nav-right {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     right: 0;
//     padding: 0 .25em;
//     li {
//       float: left;
//       padding: 0 .25em;
//       a {
//         color: $grey;
//         &:hover {
//           color: $charcoal;
//         }
//       }
//     }
//   }
// }

#color-block {
  background-color: $blue;
  left: 0;
  top: 0;
  height: 100vh;
  width: 15px;
  position: fixed;
}

// #sidebar {
//   padding: 5em 2em;
//   width: 20%;
//   height: 100%;
// }

#nav {
  background-color: white;
  text-align: center;
  .navbar-brand {
    font-family: "Slabo 13px", serif;
    font-weight: 700;
    font-size: 1.5em;
    color: $charcoal;
  }
  #about-nav:hover {
    background-color: $green;
  }
  #experience-nav:hover {
    background-color: $berry;
  }
  #education-nav:hover {
    background-color: $carolina;
  }
  #skills-nav:hover {
    background-color: $salsa;
  }
  #contact-nav:hover {
    background-color: $seafoam;
  }
  .nav-link {
    .link-icon {
      display: none;
      font-size: 1.2em;
      margin-top: -20px;
    }
    &:hover a {
      .link-icon {
        display: block;
        color: white;
      }
      .link-text {
        visibility: hidden;
      }
    }
  }
  .navbar-right {
    @media only screen and (min-width : 768px) {
      margin-right: 1em;
    }
    .fa {
      font-size: 1.2em;
    }
  }
}

#body-content {
  div {
    font-size: 1.5em;
    font-family: $sans;
    h1 {
      text-align: center;
      font-family: $slab;
    }
    p.body {
      font-size: .6em;
    }
    &#about {
      border-bottom: 4px solid $green;
    }
    #headshot {
      max-height: 6em;
      border: 8px solid $green;
    }
  }
}
