//  Colors
$grey: #8491A3;
$blue: #6CD4FF;
$green: #87D68D;
$salsa: #F03a47;
$berry: #8A4F7D;
$seafoam: #05A8AA;
$charcoal: #373F51;

// Fonts
$slab: 'Slabo 13px', serif;
$sans: 'Source Sans Pro', sans-serif;

body {
  font-family: $sans;
}

header {
  padding: .5em 2em;
  position: fixed;
  width: 100%;
  #title, #nav-right {
    position: fixed;
    top: 1em;
    font-size: 1.8em;
  }
  #title {
    font-family: $slab;
  }
  #nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 0;
    padding: 0 .25em;
    li {
      float: left;
      padding: 0 .25em;
    }
  }
}

#body-content {
  width: 80%;
  margin: auto;
  margin-top: 8em;
  div {
    text-align: center;
    margin-top: 300px;
    font-size: 1.5em;
    font-family: $sans;
  }
}